// NAV Y BODY 

  body {
    font-family: 'Rock Salt', sans-serif;
    margin: 0rem;
    margin-left: -7.2rem;
    text-align: center;
  }

  body * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  .fondo-simpsons {
    background-image: url('nubes.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100vw;
  }

// NAV

  .color-bkg {
    background-color: yellow;
  }

  .tamaño-nav {
    width: 100vw;
    height: 80px;
    top: -0.5rem;
    border: 0rem;
  }

  .color-letras-nav {
    color: black;
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .icono-pria {
    width: 55px;
    margin-left: 6rem;
    margin-right: 0rem;
  }

  .icono-anu {
    width: 55px;
    margin-left: 2rem;
  }





